/* style.css */

body, h1, .hl-p, .hl-h, .hl-b, .ri-header, .eb-text, .iq-p, .iq-thor, .at-header, .at-promo, .c-text, .at-button {
    margin: 0px;
}

body {
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:link {text-decoration: none;}


a:visited {text-decoration: none;}


a:hover {text-decoration: none;}


a:active {text-decoration: none;}

.h-top, .h-bottom, .at-banner {
    width: 1024px;
}

.box-1, .box-2, .box-3, .box-4, .empty-box {
    width: 170px;
}

.header, .copyright {
    background-color: #1f2937;
}

h1, .hl-h, .hl-b, .iq-thor, .at-promo, .c-text, .at-button {
    font-size: 24px;
}

a, .hl-p, .h-right, .at-button {
    font-size: 18px;
}

.eb-text, .at-promo, .c-text {
    font-size: 16px;
}

h1, .hl-h, .hl-b, .at-promo, .c-text, .at-button {
    color: #F9FAF8; 
}

a, .hl-p, .h-right {
    color: #E5E7EB;
}

.hl-b, .at-banner, .at-button {
    background-color: #3882F6;
}

.hl-h, .hl-b, .ri-header, .iq-thor, .at-button {
    font-weight: bold;
}

.header, .h-top, .h-links, .h-bottom, .h-left, .h-right, .random-info, .text-boxes, .box-1, .box-2, .box-3, .box-4, .inspiring-quote, .iq-group, .action-time, .at-banner, .copyright {
    display: flex;
}

.header, .h-left, .random-info, .box-1, .box-2, .box-3, .box-4, .inspiring-quote, .iq-group {
    flex-direction: column;
}

.header, .h-top, .h-bottom, .h-right, .random-info, .box-1, .box-2, .box-3, .box-4, .inspiring-quote, .action-time, .at-banner {
    align-items: center;
}

.h-right, .inspiring-quote, .action-time {
    justify-content: center;
}

.h-bottom, .text-boxes {
    gap: 50px;
}

.header {
    height: 520px;
    padding-top: 15px;
    justify-content: flex-start;
    gap: 117px;
}

.h-top {
    justify-content: space-between;
}

.h-links {
    gap: 20px;
}

.h-bottom {
    flex-wrap: nowrap;
} 

.h-left {
    width: 880px;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 8px;
}

.h-right {
    width: 1020px;
    height: 237px;
    background-color: darkgray;
}

.hl-h {
    font-size: 48px;
    line-height: 55px;
}

.hl-b {
    font-size: 17px;
    border-width: 0px;
    padding: 10px 35px;
    border-radius: 10px;
}

.random-info {
    height: 482px;
    gap: 45px;
}

.ri-header {
    font-size: 36px;
    padding-top: 43px;;
}

.empty-box {
    height: 170px;
    background-color: white;
    border-width: 4px;
    border-color: #3882f6;
    border-radius: 16px;
}

.eb-text {
    text-align: center;
    padding-top: 8px;
    color: dimgray;
}

.inspiring-quote {
    background-color: #E5E7EB;
    height: 429px;
}

.iq-group {
    width: 770px;
    align-items: flex-end;
}

.iq-p {
    font-size: 36px;
    font-style: italic;
    color: #484f5a;
}

.action-time {
    height: 350px;
}

.at-banner {
    height: 150px;
    border-radius: 8px;
    justify-content: space-evenly;
}

.at-button {
    width: 136px;
    height: 36px;
    border-color: #F9FAF8;
    border-radius: 5px;
}

.copyright {
    height: 100px;
}

.c-text {
    margin: auto;
}