/* style.css */

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.header {
    height: 520px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 117px;
}

.header, .copyright {
    background-color: #1f2937;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;    
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

a, .hl-p {
    font-size: 18px;
    color: #E5E7EB;
}

.h-top {
    width: 1025px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h-links {
    display: flex;
    gap: 20px;
}

.h-bottom {
    width: 1025px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 50px;
} 

.h-left {
    width: 880px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 8px;
}

.h-right {
    width: 1020px;
    height: 237px;
    background-color: darkgray;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hl-h {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    line-height: 55px;
}

.hl-p, .hl-h {
    margin: 0px;
}

.hl-b {
    font-size: 17px;
    font-weight: bold;
    color: #F9FAF8;
    background-color: #3882f6;
    border-width: 0px;
    padding: 10px 35px;
    border-radius: 10px;
}

.random-info {
    height: 482px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.ri-header {
    margin: 0px;
    font-size: 36px;
    font-weight: bolder;
    padding-top: 43px;;
}

.text-boxes {
    display: flex;
    gap: 50px;
}

.box-1, .box-2, .box-3, .box-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
}

.empty-box {
    width: 170px;
    height: 170px;
    background-color: white;
    border-width: 4px;
    border-color: #3882f6;
    border-radius: 16px;
}

.eb-text {
    text-align: center;
    margin: 0;
    padding-top: 8px;
    font-size: 16px;
    color: dimgray;
}

.inspiring-quote {
    background-color: #E5E7EB;
    height: 429px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iq-group {
    width: 770px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.iq-p {
    font-size: 36px;
    font-style: italic;
    color: #484f5a;
}

.iq-thor {
    font-size: 24px;
    font-weight: bold;
}

.iq-p, .iq-thor {
    margin: 0;
}

.action-time {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.at-banner {
    width: 1024px;
    height: 150px;
    display: flex;
    background-color: #3882F6;
    align-items: center;
}







.copyright {
    height: 100px;
}

.c-text {
    margin: 0px;
}